header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;

  .header-component {
    max-width: 24rem;
  }

  select {
    font-size: large;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
  }
}
