header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  img {
    height: 8rem;
    width: 24rem;
    margin-right: 1rem;
  }

  select {
    font-size: large;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid;
    width: 24rem;

    option {
      padding: 0.5rem;
    }
  }
}
