h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

h4 {
  font-size: large;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;

    .gender-finishers {
      border-radius: 1rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.table-container-large {
  height: 400px;
}
